<%- include('header'); -%>

<div class="container">
  <h1>ChipoBot</h1>
  <p class="lead">
    We’re open 7 days, so start to get your codes now!
  </p>
  <p>
    This site is part of my technique to get more cheap food.
  </p>
  
</div>

<%- include('footer'); -%>